<web-app>

    <display-name>Tienda</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file> 
    </welcome-file-list>

     <!-- INICIO: DEFINICIÓN DEL FRONT CONTROLLER SERVLET -->
    <servlet>
        <servlet-name>AppController</servlet-name>
        <servlet-class>AppController</servlet-class> 
    </servlet>
    
    <!-- MAPEO DEL FRONT CONTROLLER PARA QUE MANEJE LAS PETICIONES A /app -->
    <servlet-mapping>
        <servlet-name>AppController</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <!-- FIN: DEFINICIÓN DEL FRONT CONTROLLER SERVLET -->

</web-app>
